<div class="container">
  <span class="select-layout">
    <!-- Select layout type -->
    <fa-icon
      (click)="toggleLayoutType(layoutOptions.table)"
      [ngClass]="{ selected: layoutType === layoutOptions.table }"
      [icon]="['fas', 'th-list']"
    ></fa-icon>
    <fa-icon
      (click)="toggleLayoutType(layoutOptions.card)"
      [ngClass]="{ selected: layoutType === layoutOptions.card }"
      [icon]="['far', 'credit-card']"
    ></fa-icon>
  </span>

  <span [ngSwitch]="layoutType === layoutOptions.table">
    <span *ngSwitchCase="true">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <td scope="col">#</td>
            <td scope="col">Title</td>
            <td scope="col">Description</td>
            <td scope="col">Done</td>
            <td scope="col">Mark Done</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let todo of todoItems; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ todo.title }}</td>
            <td>{{ todo.description }}</td>
            <td [ngSwitch]="todo.done">
              <span style="color: rgb(11, 218, 11)" *ngSwitchCase="true"
                >&#10003;</span
              >
              <span style="color: red" *ngSwitchCase="false">&#10007;</span>
            </td>
            <td>
              <input
                type="checkbox"
                name="mark-done"
                id=""
                [checked]="todo.done"
                (click)="toggleDone(todo.title)"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </span>
    <span *ngSwitchCase="false">
      <app-todo-item-card
        *ngFor="let todo of todoItems"
        [todo]="todo"
      ></app-todo-item-card>
    </span>
  </span>
</div>

<!-- NEW TODO ITEM FORM -->
<span [ngSwitch]="showNewForm">
  <div *ngSwitchCase="true" class="fullpage-overlay">
    <form
      style="
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 50%;
        background-color: white;
        padding: 4em 3em;
        border-radius: 10px;
      "
      class="form"
    >
      <div class="form-header mb-3" style="font-size: 2em">
        <h4>Create new Todo</h4>
      </div>
      <div class="from-group mb-2 input-with-label">
        <input
          class="form-control"
          [ngClass]="{ errored: errors.title !== '' }"
          type="text"
          placeholder="What's the title?"
          #title
        />
        <span [ngSwitch]="errors.title !== ''">
          <p class="error-message" *ngSwitchCase="true">
            {{ errors.title }}
          </p>
          <span *ngSwitchDefault></span>
        </span>
        <label for="title">Title</label>
      </div>
      <div class="form-group mb-2 input-with-label">
        <input
          class="form-control"
          [ngClass]="{ errored: this.errors.description !== '' }"
          type="text"
          placeholder="A short description is helpful"
          #description
        />
        <span [ngSwitch]="this.errors.description !== ''">
          <p class="error-message" *ngSwitchCase="true">
            {{ errors.description }}
          </p>
          <span *ngSwitchDefault></span>
        </span>
        <label for="description">Description</label>
      </div>

      <div>
        <button
          type="button"
          class="btn btn-primary"
          (click)="addTodo(title, description)"
        >
          Create todo
        </button>
        <button
          type="button"
          class="btn btn-light"
          (click)="toggleShowNewForm()"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>

  <button
    (click)="toggleShowNewForm()"
    *ngSwitchDefault
    style="position: fixed; bottom: 20px; right: 20px; z-index: 1000"
    type="button"
    class="btn btn-primary"
  >
    New todo
  </button>
</span>
