span.select-layout {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

fa-icon {
  color: rgb(24, 24, 24);
  font-size: 1.6em;
  opacity: 0.5;
  margin: 0.1em;
  cursor: pointer;
}

fa-icon:hover,
fa-icon.selected {
  opacity: 1;
}

/* NEW TODO ITEM FORM */
div.input-with-label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

div.input-with-label label {
  opacity: 0.7;
}

div.input-with-label input::placeholder {
  font-size: 0.8em;
}

input.errored {
  border: 1px solid red;
}

p.error-message {
  color: red;
  font-size: 0.8em;
  margin: 0;
  padding: 0.1em 0;
}
